<div class="section-color-3">
  <div class="container">
    <div class="row" style="padding-bottom: 15px; padding-top: 15px">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <mat-card class="text-center">
          <mat-card-content>
            <div class="text-justify">
              Existen algunas diferencias entre los términos utilizados por la
              Fiscalía del Estado y por el Secretariado Ejecutivo Nacional, por
              lo que para un mejor entendimiento de la Plataforma hemos optado
              por dividir el glosario en tres secciones:
              <br />
              <br />
              1. Laboratorio de Datos: incluye la definición de términos
              utilizada por la Legislatura Estatal, de acuerdo con la Fiscalía
              del Estado.
              <br />
              2. Comparativa Estados: incluye la definición de términos
              utilizada por la Legislatura Federal, de acuerdo con el
              Secretariado Ejecutivo Nacional.
              <br />
              3. Tecnicismos: incluye la definición de ciertos términos
              incluidos tanto en el Laboratorio de Datos como en la Comparativa
              Estados, según la Norma Técnica para la Clasificación Nacional de
              Delitos para Fines Estadísticos.
            </div>
          </mat-card-content>
        </mat-card>
        <div style="padding-bottom: 15px"></div>
        <mat-card>
          <mat-card-content>
            <div class="content-graph">
              <mat-tab-group mat-align-tabs="center">
                <mat-tab label="LABORATORIO DE DATOS">
                  <app-glossary-data-lab></app-glossary-data-lab>
                </mat-tab>
                <mat-tab label="COMPARATIVA ESTADOS">
                  <app-comparative-states></app-comparative-states>
                </mat-tab>
                <mat-tab label="TECNICISMOS">
                  <app-technicalities></app-technicalities>
                </mat-tab>
              </mat-tab-group>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
