<div class="wrapper">
  <div class="section-color-5">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="row" style="padding-bottom: 30px; padding-top: 40px">
          <div class="col-lg-2 col-md-2 col-sm-0 col-0">
            <img
              src="assets/img/graph_logo.png"
              style="display: block; margin: auto"
            />
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-12">
            <div class="text-center">
              <span class="presentation-title">Plataforma de Seguridad</span>
              <div class="title-brand">
                <div class="presentation-subtitle" style="color: black">
                  Este portal web es donde el Gobierno de Jalisco transparenta
                  la estadística delictiva en la entidad y se lleva a cabo por
                  medio de dos apartados:
                  <br />
                  1) Laboratorio de datos y <br />
                  2) Comparativa por Estados
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="content-center"
    style="padding-top: 30px; padding-bottom: 30px; background-color: #c1ced9"
  >
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="navbar-brand" style="margin: 0px; color: #303040">
            <h4 style="cursor: pointer" (click)="goTo('laboratorio')">
              Laboratorio de datos
            </h4>
            <img
              src="assets/img/biotech_white_24dp.svg"
              style="
                padding-top: 10px;
                cursor: pointer;
                height: 150px;
                width: 150px;
              "
              (click)="goTo('laboratorio')"
            />
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="navbar-brand" style="margin: 0px; color: #303040">
            <h4 style="cursor: pointer" (click)="goTo('comparativa')">
              Comparativa Estados
            </h4>
            <img
              src="assets/img/insights_white_24dp.svg"
              style="
                padding-top: 10px;
                cursor: pointer;
                height: 150px;
                width: 150px;
              "
              (click)="goTo('comparativa')"
            />
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="navbar-brand" style="margin: 0px; color: #303040">
            <!-- <a
              href="assets/docs/archivo.pdf"
              target="_blank"
              style="text-decoration: none; cursor: pointer; color: #303040"
              ></a> -->
            <h4>Reporte Mensual</h4>
            <!-- <a href="assets/docs/archivo.pdf" target="_blank"> -->
              <img
                src="assets/img/library_books_white_24dp.svg"
                style="padding-top: 10px; height: 150px; width: 150px; cursor: pointer;"
                (click)="goTo('plataforma')"
              />
            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
