<mat-card>
  <mat-card-header class="text-center">
    <mat-card-title>Tutorial parte 1</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="videoWrapper" style="margin-bottom: 20px">
      <iframe
        width="800"
        height="400"
        src="https://www.youtube.com/embed/7W4aQcAVfrw"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </mat-card-content>
</mat-card>
<div style="padding-bottom: 15px"></div>
<mat-card>
  <mat-card-header>
    <mat-card-title class="text-center">Tutorial parte 2</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="videoWrapper">
      <iframe
        width="800"
        height="400"
        src="https://www.youtube.com/embed/Pu70Dyttw24"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </mat-card-content>
</mat-card>
