$color-gray1: #303040;
$color-gray2: #4c4c59;
$color-gray3: #c1ced9;
$color-green: #58a690;
$color-pearl: #fbfaf6;

// .data-lab {
//   padding: 0 5em;
// }
p {
  font-size: 16px;
  // line-height: 26px;
}

span {
  font-size: 16px;
  // line-height: 26px;
}

.txt-title {
  font-size: 24px;
  font-weight: 650;
  text-align: center;
  color: $color-gray1;
  padding: 0 0 0.5em 0;
}

.txt-sub-title {
  font-size: 20px;
  font-weight: 450;
  // text-align: center;
  padding: 0.8em 0 0.3em 0;
  color: $color-gray1;
}

// .content-graph {
//   max-width: 50%;
// }

.tab-txt {
  padding-top: 1em;
}
.img-lab {
  // width: 400px;
  // height: 200px;
  align-items: center;
}

.img-lab-graph{
  width: 100%;
//   height: 200px;
}

// equations
.eq {
  display: flex;
  align-items: center;
  justify-content: center;
}
// eq-tasa
.intsuma {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.intsuma > span {
  display: block;
  font-size: 70%;
}
.intsuma .lim-up {
  margin-bottom: -1.0ex;
}
.intsuma .lim {
  margin-top: -0.3ex;
}
.intsuma .sum {
  font-size: 1.5em;
  font-weight: lighter;
}
.intsuma .sum-frac {
  font-size: 1.5em;
  font-weight: 100;
}
.fraction {
  display: inline-block;
  vertical-align: middle; 
  margin: 0 0.2em 0.4ex;
  text-align: center;
}
.fraction > span {
  display: block;
  padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}

// eq-promedio
