<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="info-footer" style="color: white; padding-top: 50px">
          <p>INSTITUTO DE INFORMACIÓN ESTADÍSTICA Y GEOGRÁFICA DE JALISCO</p>
          <p>
            Calzada de los Pirules 71 Col. Cd. Granja C.P. 45010 Tel. (33)
            37771770
          </p>
          <p>Zapopan, Jalisco, México</p>
        </div>
        <div class="logos">
          <div class="logo_iieg">
            <a href="https://iieg.gob.mx/ns/" target="_blank"
              ><img src="assets/img/logo-iieg-full.svg" class="imglogoiieg"
            /></a>
          </div>
          <div class="logo_jal">
            <a href="https://www.jalisco.gob.mx/" target="_blank"
              ><img src="assets/img/logo-jalisco-footer.svg" class="imglogo"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
